server:
  port: 9000

spring:
  application:
    name: gateway

  cloud:
    gateway:
      routes:
        # USERS SERVICE
        - id: user-service
          uri: http://localhost:8001
          predicates:
            - Path=/users/**

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST
